<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>AddAlbum</title>
    <link rel="stylesheet" text="text/css" th:href="@{/css/menu.css}"/>
    <link rel="stylesheet" text="text/css" th:href="@{/css/page.css}"/>
    <link rel="stylesheet" text="text/css" th:href="@{/css/addpage.css}"/>
    <link rel="stylesheet" text="text/css" th:href="@{/css/buttons.css}"/>
</head>

<script type="text/javascript" th:src="@{/js/viewFunctions.js}"/>

<body>

<div th:include="fragments/messagebox"/>
<div th:include="fragments/title"/>
<div th:include="menu"/>

<table th:class="maintable">
    <tbody>
    <tr>
        <td>
            <fieldset>
                <form th:action="@{/artist/add}" th:method="post" th:object="${dto}">
                    <H3>Toevoegen Artiest</H3>

                    <table>
                        <tr>
                            <td>
                                <table th:class="inputtable">
                                    <tr>
                                        <td>Gegevens Artiest</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>Naam Artiest</td>
                                        <td>
                                            <input th:id="input-artist-name" th:type="text" th:size="30"
                                                   th:maxlength="50"
                                                   th:field="*{artist.name}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Naam van afbeelding</td>
                                        <td>
                                            <input th:id="input-artist-image" th:type="text" th:size="30"
                                                   th:maxlength="50"
                                                   th:field="*{artist.image}"/>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <table th:class="buttontable">
                        <tr>
                            <td th:class="buttontd">
                                <input th:id="add-artist-submit" th:type="submit" th:class="btn" th:value="Opslaan"/>
                            </td>
                            <td th:class="buttontd">
                                <input th:id="add-artist-reset" th:type="reset" th:class="btn" th:value="Reset"/>
                            </td>
                        </tr>
                    </table>
                </form>
            </fieldset>
        </td>
    </tr>
    </tbody>
</table>
</body>

</html>