<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>albumlist</title>
    <link rel="stylesheet" text="text/css" th:href="@{/css/menu.css}"/>
    <link rel="stylesheet" text="text/css" th:href="@{/css/page.css}"/>
    <link rel="stylesheet" text="text/css" th:href="@{/css/addpage.css}"/>
    <link rel="stylesheet" text="text/css" th:href="@{/css/buttons.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-1.11.0.js}"/>
    <script type="text/javascript" th:src="@{/js/viewFunctions.js}"/>
</head>

<script type="text/javascript" th:src="@{/js/viewFunctions.js}"/>

<body>
<table th:class="headtable">
    <tbody>
    <tr align="center">
        <td>
            <h2>Mijn Muziek Overzicht</h2>
        </td>
    </tr>
    <tr>
        <br/>
    </tr>
    </tbody>
</table>

<div th:include="menu"/>

<table th:class="maintable">
    <tbody>
    <tr>
        <td>
            <fieldset>
                <form th:action="@{/album/add}" th:method="post" th:object="${dto}">
                    <H3>Toevoegen Album</H3>

                    <table>
                        <tr>
                            <td>
                                <div th:include="fragments/albumhead"/>
                            </td>
                        </tr>
                    </table>
                    <h4 th:class="left120">Nummers</h4>
                    <fieldset>
                        <table class="table left120">
                            <thead>
                            <th>tietel</th>
                            <th>duur</th>
                            <th>disk</th>
                            <th>Artiest/Groep</th>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <input type="text" value="" maxlength="50" size="30" th:field="*{title}"/>
                                </td>
                                <td>
                                    <input type="text" value="" maxlength="5" size="5" th:field="*{duration}"/>
                                </td>
                                <td>
                                    <input type="text" value="" maxlength="2" size="2" th:field="*{disk}"/>
                                </td>
                                <td>
                                    <input list="atgp" type="text" value="" maxlength="30" size="30"/>
                                    <div th:id="group">
                                        <datalist id="atgp"  >
                                            <select name="atgp">
                                            <option th:each="group : ${dto.groups}"
                                                    th:value="${group.name}"
                                                    th:text="${group.name}"
                                                    th:selected="${atgp == group.name}"/>
                                            </select>
                                        </datalist>
                                    </div>

                                </td>

                                <td>
                                    <button class="remove-row btn addbutton">Verwijderen</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <table th:class="buttontable">
                            <tr>
                                <td th:class="buttontd">
                                    <button class="btn addbutton" id="add-row">Nr. Toevoegen</button>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                    <table th:class="buttontable">
                        <tr>
                            <td th:class="buttontd">
                                <input th:id="add-group-submit" th:type="submit" th:class="btn"
                                       th:value="Opslaan"/>
                            </td>
                            <td th:class="buttontd">
                                <input th:id="add-group-reset" th:type="reset" th:class="btn" th:value="Reset"/>
                            </td>
                        </tr>
                    </table>

                </form>
            </fieldset>
        </td>
    </tr>
    </tbody>
</table>
</body>

<script type="text/javascript" th:src="@{/js/tableFunctions.js}"/>

</html>

