<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>albumlist</title>
    <link rel="stylesheet" text="text/css" th:href="@{/css/menu.css}"/>
    <link rel="stylesheet" text="text/css" th:href="@{/css/page.css}"/>
    <link rel="stylesheet" text="text/css" th:href="@{/css/addpage.css}"/>
    <link rel="stylesheet" text="text/css" th:href="@{/css/buttons.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-1.11.0.js}"/>
    <script type="text/javascript" th:src="@{/js/viewFunctions.js}"/>
</head>

<body>
<table th:class="headtable">
    <tbody>
    <tr align="center">
        <td>
            <h2>Mijn Muziek Overzicht</h2>
        </td>
    </tr>
    <tr>
        <br/>
    </tr>
    </tbody>
</table>

<div th:include="menu"/>

<table th:class="maintable">
    <tbody>
    <tr>
        <td>
            <fieldset>
                <form th:action="@{/group/add}" th:method="post" th:object="${dto}">
                    <H3>Toevoegen Groep</H3>

                    <table>
                        <tr>
                            <td>
                                <table th:class="inputtable">
                                    <tr>
                                        <td>Gegevens groep</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>Naam groep</td>
                                        <td>
                                            <input th:id="input-group-name" th:type="text" th:size="30"
                                                   th:maxlength="50"
                                                   th:field="*{group.name}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Naam van afbeelding</td>
                                        <td>
                                            <input th:id="input-group-image" th:type="text" th:size="30"
                                                   th:maxlength="50"
                                                   th:field="*{group.image}"/>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <table class="table left120">
                        <tbody>
                        <tr>

                            <td th:class="selecttd">Naam lid</td>
                            <td>
                                <select class="btn select" name="artists">
                                    <option value="0">Selecteer artist</option>
                                    <option th:each="artist : ${dto.artists}"
                                            th:value="${artist.id}"
                                            th:text="${artist.name}"></option>
                                </select>
                            </td>
                            <td>vanaf</td>
                            <td>
                                <input th:id="input-group-name" th:type="text" th:size="10" th:maxlength="10"
                                       th:field="*{group.name}"/>
                            </td>
                            <td>tot</td>
                            <td>
                                <input th:id="input-group-name" th:type="text" th:size="10" th:maxlength="10"
                                       th:field="*{group.name}"/>
                            </td>
                            <td>
                                <button class="remove-row btn addbutton">Verwijderen</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <table th:class="buttontable">
                        <tr>
                            <td th:class="buttontd">
                                <button class="btn addbutton" id="add-row">Lid Toevoegen</button>
                            </td>
                        </tr>
                    </table>

                    <table th:class="buttontable">
                        <tr>
                            <td th:class="buttontd">
                                <input th:id="add-group-submit" th:type="submit" th:class="btn"
                                       th:value="Opslaan"/>
                            </td>
                            <td th:class="buttontd">
                                <input th:id="add-group-reset" th:type="reset" th:class="btn" th:value="Reset"/>
                            </td>
                        </tr>
                    </table>

                </form>
            </fieldset>
        </td>
    </tr>
    </tbody>
</table>
</body>

<script type="text/javascript" th:src="@{/js/tableFunctions.js}"/>

</html>