.btn {
    background: #9bdbb9;
    background: #8FBC8F;
    background-image: -webkit-linear-gradient(top, #8FBC8F, #31573a);
    background-image: -moz-linear-gradient(top, #8FBC8F, #31573a);
    background-image: -ms-linear-gradient(top, #8FBC8F, #31573a);
    background-image: -o-linear-gradient(top, #8FBC8F, #31573a);
    background-image: linear-gradient(to bottom, #8FBC8F, #31573a);
    font-family: Monospaced;
    color: #ffffff;
    font-size: 18px;
    padding: 5px 10px 10px 15px;
    text-decoration: none;
    border: none;
    height: 35px;
    cursor: pointer;
}

.btn:hover {
    background: #8fbc8f;
    background-image: -webkit-linear-gradient(top, #8fbc8f, #8b9eab);
    background-image: -moz-linear-gradient(top, #8fbc8f, #8b9eab);
    background-image: -ms-linear-gradient(top, #8fbc8f, #8b9eab);
    background-image: -o-linear-gradient(top, #8fbc8f, #8b9eab);
    background-image: linear-gradient(to bottom, #8fbc8f, #8b9eab);
    text-decoration: none;
}