* {
    padding: 0px;
    margin: 0px;
    font-family: Monospaced;
    font-size: large;
}
.menubody {
    alignment: center;
    padding: auto;
    width: 1280px;
    background-color: lightgray;
}

ul#nav-menu, ul.sub1 {
    list-style-type: none;
    font-size: 16px;
    padding: 0 0 0 1%;
}

ul#nav-menu, ul.sub2 {
    list-style-type: none;
    font-size: 16px;
    padding: 0 0 0 1%;
}

ul#nav-menu li {
    width: 165px;
    text-align: center;
    position: relative;
    float: left;
    margin-right: 4px;
}

ul#nav-menu a {
    text-decoration: none;
    display: block;
    width: 165px;
    height: 50px;
    line-height: 50px;
    background-color: darkseagreen;
    border: 1px solid darkseagreen;
    color: #ffffff;
    background-image: -webkit-linear-gradient(top, #8FBC8F, #31573a);
    background-image: -moz-linear-gradient(top, #8FBC8F, #31573a);
    background-image: -ms-linear-gradient(top, #8FBC8F, #31573a);
    background-image: -o-linear-gradient(top, #8FBC8F, #31573a);
    background-image: linear-gradient(to bottom, #8FBC8F, #31573a);
}

ul#nav-menu .sub1 a {
    margin-top: 3px;
}

ul#nav-menu .sub2 a {
    margin-left: 5px;
}

ul#nav-menu li:hover > a {
    background: #8fbc8f;
    background-image: -webkit-linear-gradient(top, #8fbc8f, #8b9eab);
    background-image: -moz-linear-gradient(top, #8fbc8f, #8b9eab);
    background-image: -ms-linear-gradient(top, #8fbc8f, #8b9eab);
    background-image: -o-linear-gradient(top, #8fbc8f, #8b9eab);
    background-image: linear-gradient(to bottom, #8fbc8f, #8b9eab);

}

ul#nav-menu li:hover a:hover {
    background: #8fbc8f;
    background-image: -webkit-linear-gradient(top, #8fbc8f, #8b9eab);
    background-image: -moz-linear-gradient(top, #8fbc8f, #8b9eab);
    background-image: -ms-linear-gradient(top, #8fbc8f, #8b9eab);
    background-image: -o-linear-gradient(top, #8fbc8f, #8b9eab);
    background-image: linear-gradient(to bottom, #8fbc8f, #8b9eab);

}

ul#nav-menu ul.sub1 {
    display: none;
    position: absolute;
    top: 52px;
    left: -1%;
}

ul#nav-menu li:hover .sub1 {
    display: block;
}

ul#nav-menu .sub1 li:hover .sub2 {
    display: block;
}

ul#nav-menu ul.sub2 {
    display: none;
    position: absolute;
    top: 0px;
    left: 136px;
}

.darrow {
    font-size: 14px;
    position: absolute;
    top: 17px;
    right: 4px;
    color: white;
}

.rarrow {
    font-size: 14px;
    position: absolute;
    top: 19px;
    right: 4px;
    color: white;
}