* {
    margin: 0px;
    padding: 0px;
    font-size: large;
    cursor: pointer;
}

h2 {
    font-size: xx-large;
}

th:hover {
    background-color: #96A470;
}

h3 {
    text-align: center;
    margin: 10px;
}

.select {
    width: 57ch;
}

.select option {
    background: white;
    color: black;
}

.headtable {
    align-items: center;
    width: 100%;
    border-style: none;
    padding-bottom: 15px;
    padding-top: 15px;
}

.maintable {
    width: 100%;
    border-style: none;
    padding-bottom: 10px;
    padding-top: 15px;
    border-spacing: 10px
}

.listtable {
    width: 100%;
    margin: auto;
    border: darkseagreen 3px;
    border-style: solid;
    border-collapse: collapse;
    padding: 5px;
    border-spacing: 5px;
}

.imagetable {
    width: 100%;
    margin: 0px;
    border: 0px;
    border-style: none;
    padding: 0px;
    border-spacing: 0px;
    line-height: 10px;
}

.inputtable {
    width: 100%;
    margin: 15px;
    margin-left: 120px;
}

.left120 {
    margin-left: 120px;
}

.left175 {
    margin-left: 175px;
}

.left375 {
    margin-left: 375px;
}

.image {
    width: 100%;
    height: 100%;
}

.buttontable {
    margin-left: 100px;
    padding: 2px;
}

.buttontd {
    padding-left: 15px;
}

.buttontd input {
    width: 165px;
}

.addbutton {
    width: 165px;
}

.addbuttont {
    width: 165px;
    margin-left: 98ch;
}

.columncenter {
    text-align: center;
    cursor: pointer;
}

td.row {
    border: darkseagreen solid 3px;
    height: 30px;
}

tr.row {
    border: darkseagreen solid 3px;
    background-color: darkseagreen;
    height: 40px;
}

.btn {
    background: #9bdbb9;
    background: #8FBC8F;
    background-image: -webkit-linear-gradient(top, #8FBC8F, #31573a);
    background-image: -moz-linear-gradient(top, #8FBC8F, #31573a);
    background-image: -ms-linear-gradient(top, #8FBC8F, #31573a);
    background-image: -o-linear-gradient(top, #8FBC8F, #31573a);
    background-image: linear-gradient(to bottom, #8FBC8F, #31573a);
    border-radius: 5px;
    font-family: Monospaced;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border-color: darkseagreen;
}

.btn:hover {
    background: #8fbc8f;
    background-image: -webkit-linear-gradient(top, #8fbc8f, #8b9eab);
    background-image: -moz-linear-gradient(top, #8fbc8f, #8b9eab);
    background-image: -ms-linear-gradient(top, #8fbc8f, #8b9eab);
    background-image: -o-linear-gradient(top, #8fbc8f, #8b9eab);
    background-image: linear-gradient(to bottom, #8fbc8f, #8b9eab);
    text-decoration: none;
}