* {
    margin: 0px;
    padding: 0px;
    font-size: large;
}


.trcolor:nth-child(even) {
    background-color: rgba(38, 163, 18, 0.16)
}

.bodybackgroud {
    background-color:  #9b9b9b;
}

.headtable {
    align-items: center;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 15px;
}

.maintable {
    width: 100%;
    padding-bottom: 10px;
    padding-top: 15px;
    border-spacing: 10px
}

.h2 {
    font-size: xx-large;
}

.listtable {
    max-height: 525px;
    border-collapse: collapse;
    overflow-y: scroll;
    display: inline-block;
}

.imagetable {
    margin-left: 60px;
}

.maxheight250 {
    max-height: 250px;
}

.tdbutton {
    margin-right: 3px;
    height: 50px;
}

.btninput {
    margin-right: 3px;
    height: 40px;
    width: 250px;
}
.with30 {
    width: 30px
}

.with50 {
    width: 50px;
}

.with200 {
    width: 200px;
}

.with250 {
    width: 250px;
}

.with300 {
    width: 300px;
}

.with350 {
    width: 350px;
}

.with400 {
    width: 400px;
}

.with600 {
    width: 600px;
}

.with750 {
    width: 700px;
}

.with100 {
    width: 100px;
}

.height50 {
    height: 50px ;
}

.height40 {
    height: 40px ;
}

.headfont {
    font-size: 25px;
    border-bottom: 1px solid #dddddd
}

.headfont20 {
    font-size: 20px;
    border-bottom: 1px solid #dddddd
}

.headfont15 {
    font-size: 15px;
    border-bottom: 1px solid #dddddd
}


.marginleft20 {
    margin-left: 20px;
}

.marginleft75 {
    margin-left: 75px;
}

.marginright20 {
    margin-right: 20px;
}

.marginbottom25 {
    margin-bottom: 25px;
}

.margintop25 {
    margin-top: 25px;
}

.centeritem {
    text-align: center;
}

.enditem {
    text-align: end;
}

.staritem {
    text-align: start;
}

.smallfont {
    font-size: x-small;
}

.error {
    color: red;
}

.cursors {
    cursor: pointer
}
