* {
    margin: 0px;
    padding: 0px;
    font-size: large;
}

h2 {
    font-size: xx-large;
}

th:hover {
    background-color: #96A470;
}

h3 {
    text-align: center;
    margin: 10px;
}

.headtable {
    align-items: center;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 15px;
}

.maintable {
    width: 100%;
    padding-bottom: 10px;
    padding-top: 15px;
    border-spacing: 10px
}

.listtable {
    width: 100%;
    margin: auto;
    border: darkseagreen 3px;
    border-style: solid;
    border-collapse: collapse;
    padding: 5px;
    border-spacing: 5px;
}

.left108 {
    margin-left: 33%;
}

.left375 {
    margin-left: 375px;
}

.image {
    width: 100%;
    height: 100%;
}

.columncenter {
    text-align: center;
    cursor: pointer;
}

td.row {
    border: darkseagreen solid 3px;
    height: 30px;
}

tr.row {
    border: darkseagreen solid 3px;
    background-color: darkseagreen;
    height: 40px;
}
