
.listtable {
    width: 100%;
    margin: auto;
    border: darkseagreen 3px;
    border-style: solid;
    border-collapse: collapse;
    padding: 5px;
    border-spacing: 5px;
    text-align: left;
    cursor: pointer;

}

th:hover {
    background: #8fbc8f;
    background-image: -webkit-linear-gradient(top, #8fbc8f, #8b9eab);
    background-image: -moz-linear-gradient(top, #8fbc8f, #8b9eab);
    background-image: -ms-linear-gradient(top, #8fbc8f, #8b9eab);
    background-image: -o-linear-gradient(top, #8fbc8f, #8b9eab);
    background-image: linear-gradient(to bottom, #8fbc8f, #8b9eab);
    text-decoration: none;
}

.backgroundth {
    background-image: -webkit-linear-gradient(top, #8FBC8F, #31573a);
    background-image: -moz-linear-gradient(top, #8FBC8F, #31573a);
    background-image: -ms-linear-gradient(top, #8FBC8F, #31573a);
    background-image: -o-linear-gradient(top, #8FBC8F, #31573a);
    background-image: linear-gradient(to bottom, #8FBC8F, #31573a);
}


.columnleft {
}

.colimage {
    height: 40px;
    width: 40px;
    display: block;
    margin-right: -20px;
}

.col380px {
   height: auto;
   width: 350px;
}

.col200px {
    height: auto;
    width: 200px;
}