<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <script type='text/javascript' src='http://code.jquery.com/jquery-1.11.0.js'></script>
    <title>AddAlbum</title>
</head>

<script type="text/javascript" th:src="@{/js/viewFunctions.js}"/>

<body>
<form th:action="@{/album/add}" th:method="post" th:object="${dto}" th:id="songListForm">

    <div th:include="fragments/albumhead"/>

    <div style="display: block" th:id="button">
        <input th:type="button" onclick="javascript:showhide('group' ,'artist');" value="Artiest/Groep"/>

        <br/>
        <div style="display:none" th:id="group">
            <select th:field="${dto.album.group.id}">
                <option value="0">Selecteer groep</option>
                <option th:each="group : ${dto.groups}" th:value="${group.id}" th:text="${group.name}"></option>
            </select>
        </div>

        <div style="display:block" th:id="artist">
            <select th:field="${dto.album.artist.id}">
                <option value="0">Selecteer artist</option>
                <option th:each="artist : ${dto.artists}" th:value="${artist.id}" th:text="${artist.name}"></option>
            </select>
        </div>

    </div>
    <br/>

    <fieldset>
        <div>
            <table class="table">
                <thead>
                <th>title</th>
                <th>duration</th>
                <th>disk</th>
                <th>&nbsp;</th>
                </thead>
                <tbody>
                <tr>
                    <td><input type="text" value="" maxlength="50" size="50" name="title"/>
                    </td>
                    <td><input type="text" value="" maxlength="5" size="5" name="duration"/>
                    </td>
                    <td><input type="text" value="" maxlength="2" size="2" name="disk"/>
                    </td>
                    <td><a href="#" class="remove-row">Verwijderen</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div><a href="#" id="add-row">Toevoegen</a></div>

        <div id="text"></div>
    </fieldset>

    <br/>
    <input th:id="add-artist-submit" th:type="submit" th:value="Verder"/>
    <input th:id="add-artist-reset" th:type="reset" th:value="Reset"/>


</form>

<script type="text/javascript" th:src="@{/js/tableFunctions.js}"/>

</body>

</html>

