<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>AddAlbum</title>
</head>

<script type="text/javascript" th:src="@{/js/viewFunctions.js}"/>

<body>
<form th:action="@{/album/add}" th:method="post" th:object="${dto}">
    <H3>Toevoegen Album</H3>

    <span>gegevens Album</span>
    <br/>

    <span>Album tietel </span>
    <input th:id="input-album-name" th:type="text" th:size="30" th:maxlength="50" th:field="*{album.title}"/>
    <br/>

    <span>Release jaar </span>
    <input th:id="input-releaseYear" th:type="text" th:size="30" th:maxlength="50" th:field="*{album.releaseYear}"/>
    <br/>

    <span>Genre</span>
    <input th:id="input-genre" th:type="text" th:size="30" th:maxlength="50" th:field="*{album.genre}"/>
    <br/>

    <span>Media type</span>
    <input th:id="input-mediatype" th:type="text" th:size="30" th:maxlength="50" th:field="*{album.mediaType}"/>
    <br/>

    <span>Aantal muziek dragers</span>
    <input th:id="input-mediatype" th:type="text" th:size="1" th:maxlength="1" th:field="*{totaldiscs}"/>
    <br/>

    <span>Pad afbeelding</span>
    <input th:id="input-album-image" th:type="text" th:size="30" th:maxlength="255" th:field="*{album.image}"/>
    <br/>

    <span>Verzamelalbum</span>
    <input th:type="radio" th:field="*{album.collection}" onclick="javascript:showhideButton('button','');"
           value="false">Nee</input>
    <input th:type="radio" th:field="*{album.collection}" onclick="javascript:showhideButton('','button');"
           value="true">Ja</input>

    <div style="display: block" th:id="button">
        <input th:type="button" onclick="javascript:showhide('group' ,'artist');" value="Artiest/Groep"/>

        <br/>
        <div style="display:none" th:id="group">
            <select th:field="${dto.album.group.id}">
                <option value="0">Selecteer groep</option>
                <option th:each="group : ${dto.groups}" th:value="${group.id}" th:text="${group.name}"></option>
            </select>
        </div>

        <div style="display:block" th:id="artist">
            <select th:field="${dto.album.artist.id}">
                <option value="0">Selecteer artist</option>
                <option th:each="artist : ${dto.artists}" th:value="${artist.id}" th:text="${artist.name}"></option>
            </select>
        </div>
    </div>

    <br/>


    <input th:id="add-artist-submit" th:type="submit" th:value="Verder"/>
    <input th:id="add-artist-reset" th:type="reset" th:value="Reset"/>

</form>


</body>

</html>

