<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <script type='text/javascript' src='http://code.jquery.com/jquery-1.11.0.js'></script>
    <link rel="stylesheet" type="text/css"
          href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.css"/>
    <script type='text/javascript'
            src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.js"></script>
    <title>AddAlbum</title>
</head>

<script type="text/javascript" th:src="@{/js/viewFunctions.js}"/>

<body>
<form th:action="@{/album/add}" th:method="post" th:object="${dto}">

    <div th:include="fragments/albumhead"/>

    <br/>

    <fieldset>
        <table class="table table-striped">
            <thead>
            <th>title</th>
            <th>duration</th>
            <th>disk</th>
            <th>Artiest/Groep</th>
            <th>&nbsp;</th>
            </thead>
            <tbody>
            <tr>
                <td><input type="text" value="" maxlength="50" size="50" name="title"/>
                </td>
                <td><input type="text" value="" maxlength="5" size="5" name="duration"/>
                </td>
                <td><input type="text" value="" maxlength="2" size="2" name="disk"/>
                </td>

                <td>

                    <select name="artist" id="artist" >
                        <option value="0">Selecteer artist</option>
                        <option th:each="artist : ${dto.artists}" th:value="${artist.id}"
                                th:text="${artist.name}"></option>
                    </select>
                </td>
                <td>
                    <select name="group" id="group" >
                        <option value="0">Selecteer groep</option>
                        <option th:each="group : ${dto.groups}" th:value="${group.id}"
                                th:text="${group.name}"></option>
                    </select>
                </td>

                <td><a href="#" class="remove-row"><span class="glyphicon glyphicon-minus"></span></a></td>
            </tr>
            </tbody>
        </table>
        <div><a href="#" id="add-row"><span class="glyphicon glyphicon-plus"></span>Add Song</a></div>

        <div id="text"></div>
    </fieldset>

    <br/>
    <input th:id="add-artist-submit" th:type="submit" th:value="Verder"/>
    <input th:id="add-artist-reset" th:type="reset" th:value="Reset"/>


</form>
<script>

    $('#add-row').on('click', function (e) {
        enableselection();
        e.preventDefault();
        var tableBody = $('.table > tbody'),
            lastRowClone = $('tr:last-child', tableBody).clone();
        $('input[type=text]', lastRowClone).val('');
        tableBody.append(lastRowClone);

    });

    $('.table').on('click', '.remove-row', function (e) {
        e.preventDefault();
        var row = $(this).parent().parent();
        row.remove();
    })

</script>


</body>

</html>

