<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Albumdetails</title>
</head>

<script type="text/javascript" th:src="@{/js/viewFunctions.js}"/>

<body>

<div th:include="menu"/>


<h3>AlbumDetails</h3>
<span th:text="${dto.album.title}"/>
<div th:if="${dto.album.artist != null}">
    <div th:onclick="'javascript:DetailGegevens(\'/detail/artist/' + ${dto.album.artist.id} + '\');'"
         style="cursor: pointer">
        <span th:text="${dto.album.artist.name}"/>
    </div>
</div>
<div th:if="${dto.album.group != null}">
    <div th:onclick="'javascript:DetailGegevens(\'/detail/group/' + ${dto.album.group.id} + '\');'"
         style="cursor: pointer">
        <span th:text="${dto.album.group.name}"/>
    </div>
</div>
<span th:text="${dto.album.releaseYear}"/>
<span th:text="${dto.album.genre}"/>

<div th:if="${!dto.disks.empty}">
    <table>
        <tbody>
        <tr>
            <th>Disc</th>
        </tr>
        <tr th:each="disk: ${dto.disks} ">
            <td th:text="${disk.diskNumber}"/>
            <div th:if="${!disk.songs.empty}">
                <table>
                    <tbody>
                    <tr>
                        <th>Nummer</th>
                        <th>duur</th>
                    </tr>
                    <tr th:each="song: ${disk.songs}">
                        <td th:text="${song.title}"/>
                        <td th:text="${song.duration}"/>
                    </tr>
                    </tbody>
                </table>

            </div>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>