<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>albumlist</title>
    <link rel="stylesheet" text="text/css" th:href="@{/css/menu.css}"/>
    <link rel="stylesheet" text="text/css" th:href="@{/css/page.css}"/>
</head>

<script type="text/javascript" th:src="@{/js/viewFunctions.js}"/>

<body>
<table style="width: 100%" border="1">
    <tbody>
    <tr align="center">
        <td>
            <h3>Mijn Muziek Overzicht</h3>
        </td>
    </tr>
    </tbody>
</table>

<div th:include="menu"/>

<table style="width: 100%" border="1">
    <tbody>
    <tr align="center">
        <td>
            <h3>Album Overzicht</h3>
        </td>
    </tr>
    <tr align="center">
        <td>
            <table width="100%" style="text-align: center; border: darkgreen; border-style: solid"
                   cellpadding="5px" cellspacing="2px" border="2px">
                <tbody>
                <tr>
                    <th><a th:href="@{/albums/title}">Album</a></th>
                    <th><a th:href="@{/albums/ag}">Uitvoeren</a></th>
                    <th><a th:href="@{/albums/releaseYear}">Release Datum</a></th>
                    <th><a th:href="@{/albums/genre}">Genre</a></th>
                </tr>

                <tr th:each="album, iterstat: ${dto.albums}" style="cursor: pointer"
                    th:onmouseover="'ChangeColor(this, true);'"
                    th:onmouseout="'ChangeColor(this, false)'"
                    th:onclick="'javascript:DetailGegevens(\'/detail/album/' + ${album.id} + '\');'">

                    <td th:text="${album.title}" th:id="|td${iterstat.index}|"/>
                    <div th:if="${album.artist != null} and ${!album.collection} ">
                        <td th:text="${album.artist.name}" th:id="|td${iterstat.index}|"/>
                    </div>
                    <div th:if="${album.group != null}  and ${!album.collection} ">
                        <td th:text="${album.group.name}" th:id="|td${iterstat.index}|"/>
                    </div>
                    <div th:if="${album.collection}">
                        <td th:id="|td${iterstat.index}|">Divers</td>
                    </div>
                    <td th:text="${album.releaseYear}" th:id="|td${iterstat.index}|"/>
                    <td th:text="${album.genre}" th:id="|td${iterstat.index}|"/>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>

</html>