<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Artiestdetails</title>
</head>

<script type="text/javascript" th:src="@{/js/viewFunctions.js}"/>

<body>
<h3>ArtiestDetails</h3>
<span th:text="${dto.artist.name}"></span>

<br/>

<div th:if="${!dto.artist.startEndDateByGroup.empty}">
    <table>
        <tbody>
        <th>Lid van groep(en)</th>
        <tr th:each="group, iterstat: ${dto.artist.startEndDateByGroup}" style="cursor: pointer"
            th:onmouseover="'ChangeColor(this, true);'" th:onmouseout="'ChangeColor(this, false)'"
            th:onclick="'javascript:DetailGegevens(\'/detail/group/' + ${group.value.id} + '\');'">
            <td th:text="${group.value.name}"/>
            <td th:text="${group.key.startDate}"/>
            <td th:text="${group.key.endDate}"/>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>