<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Search</title>
</head>

<body>

<div th:if="${object} == album">
    <h3>Album Zoeken</h3>
    <form th:action="@{/search/album}" th:object="${dto}" th:method="post">
        <span>Geef naam of een deel van naam van het Album</span>
        <br/>
        <input th:id="search-album-input" th:type="text" th:size="30" th:field="*{search}"/>
        <input th:id="search-album-submit" th:type="submit" th:value="zoek"/>
        <input th:id="search-album-reset" th:type="reset" th:value="reset"/>
    </form>
</div>

<div th:if="${object} == artist">
    <h3>Artiest Zoeken</h3>
    <form th:action="@{/search/artist}" th:object="${dto}" th:method="post">
        <span>Geef naam of een deel van naam van de Artiest</span>
        <br/>
        <input th:id="search-artist-input" th:type="text" th:size="30" th:field="*{search}"/>
        <input th:id="search-artist-submit" th:type="submit" th:value="zoek"/>
        <input th:id="search-artist-reset" th:type="reset" th:value="reset"/>
    </form>
</div>

<div th:if="${object} == group">
    <h3>Groep Zoeken</h3>
    <form th:action="@{/search/group}" th:object="${dto}" th:method="post">
        <span>Geef naam of een deel van naam van de Groep</span>
        <br/>
        <input th:id="search-group-input" th:type="text" th:size="30" th:field="*{search}"/>
        <input th:id="search-group-submit" th:type="submit" th:value="zoek"/>
        <input th:id="search-group-reset" th:type="reset" th:value="reset"/>
    </form>
</div>

</body>
</html>