<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>albumlist</title>
    <link rel="stylesheet" text="text/css" th:href="@{/css/menu.css}"/>
    <link rel="stylesheet" text="text/css" th:href="@{/css/page.css}"/>
    <link rel="stylesheet" text="text/css" th:href="@{/css/viewpage.css}"/>
</head>

<script type="text/javascript" th:src="@{/js/viewFunctions.js}"/>

<body>
<table th:class="headtable">
    <tbody>
    <tr align="center">
        <td>
            <h2>Mijn Muziek Overzicht</h2>
        </td>
    </tr>
    <tr>
        <br/>
    </tr>
    </tbody>
</table>

<div th:include="menu"/>

<table th:class="maintable">
    <tbody>
    <tr align="center">
        <td>
            <h3>Album Overzicht</h3>
        </td>
    </tr>
    <tr>
        <td>
            <fieldset>
                <table th:class="listtable">
                    <tbody>
                    <tr th:class="backgroundth">
                        <th th:class="colimage">&nbsp;</th>
                        <th th:class="colgroup"><a th:class="link" th:href="@{/albums/title}">Album</a></th>
                        <th th:class="colgroup"><a th:class="link" th:href="@{/albums/ag}">Artiest/Groep</a></th>
                        <th th:class="col100px"><a th:class="link" th:href="@{/albums/releaseYear}">Release Datum</a></th>
                        <th th:class="col100px"><a th:class="link" th:href="@{/albums/genre}">Genre</a></th>
                    </tr>

                    <tr th:each="album, iterstat: ${dto.albums}"
                        th:onmouseover="'ChangeColor(this, true);'"
                        th:onmouseout="'ChangeColor(this, false)'"
                        th:onclick="'javascript:DetailGegevens(\'/detail/album/' + ${album.id} + '\');'">

                        <td th:class="colimage">
                            <img th:src="@{/image/} + ${album.image}" th:class="image"/>
                        </td>

                        <td th:class="col380px" th:text="${album.title}" th:id="|td${iterstat.index}|"/>
                        <div th:if="${album.artist != null} and ${!album.collection} ">
                            <td th:class="colgroup" th:text="${album.artist.name}" th:id="|td${iterstat.index}|"/>
                        </div>
                        <div th:if="${album.group != null}  and ${!album.collection} ">
                            <td th:class="col380px" th:text="${album.group.name}" th:id="|td${iterstat.index}|"/>
                        </div>
                        <div th:if="${album.collection}">
                            <td th:class="col300" th:id="|td${iterstat.index}|">Divers</td>
                        </div>
                        <td th:class="col200px" th:text="${album.releaseYear}" th:id="|td${iterstat.index}|"/>
                        <td th:class="col200px" th:text="${album.genre}" th:id="|td${iterstat.index}|"/>
                    </tr>
                    </tbody>
                </table>
            </fieldset>
        </td>
    </tr>
    </tbody>
</table>
</body>

</html>